<section id="center-page">
  <p class="yokoku">2026年4月7日　第一章公開予定</p>
  <a class="card btn17776" href="#"
    title="フットボールに興味はある？">
    <img src="https://cdn0.vox-cdn.com/uploads/chorus_asset/file/8357865/17776.jpg"
      width="200" alt="17776">
    <div>
      An American Football Story<br>
      アメリカン<wbr>フットボール<wbr>物語
      <div class="sm">【非公式和訳】</div>
    </div>
  </a>
  <p>Original: <a href="https://www.sbnation.com/a/17776-football">17776</a> by John Bois</p>
  <p hidden>↑ 本編はこちらから ↑</p>
  <div class="flex">
    <a class="card" href="/about" title="喋る時間はいくらでもあるんだから。">About</a>
    <a class="card" href="/posts" title="ハムとチーズ　ハムとクラッカー　チーズとクラッカー　ハムとチーズとクラッカー　ハムとチーズ">Blog</a>
  </div>
  <p>↓ 最新のブログ投稿 ↓</p>
</section>