mark {
  color: var(--color-text-dark, #ffffff);
  background-color: #0066ffc0;
}
.sm {
  font-size: 0.85em;
}
sup, sub {
  font-size:x-small;
}

.giscus {
  width: 35em;
  max-width: 100%;
  margin: auto;
}